# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
nlpenv/
venv/
.env/
*.env

# pip and package files
*.log
pip-log.txt
pip-delete-this-directory.txt

# VS Code settings (if using VS Code)
.vscode/

# zip files
*.zip
*.tar.gz

